<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="/editormd/css/style.css" />
    <link rel="stylesheet" href="/editormd/css/editormd.css" />
    <style type="text/css">
         .title_style{width:90%;margin:auto;}
         .edit_input{width:200px;height:20px;margin:10px;padding: 10px 4px;}
         .edit_textarea{width:500px;height:200px;margin:10px;}
         .label_name{margin:10px 10px 10px 0;display:inline-block;vertical-align:top;}
        #getContent{padding:5px 20px;margin:10px 10px 10px 58px;display:inline-block;vertical-align:top;}
    </style>
</head>
<body>
<div id="layout">
    <div class="title_style">
        <h3><%= title %></h3>
        <label class="label_name">标题：</label><input class="edit_input" id="title" /><br />
        <label class="label_name">作者：</label><input class="edit_input" id="writer" /><br />
        <label class="label_name">类别：</label><input id="classification" class="edit_input" placeholder="1:技术，2:诗墨" /><br />
        <label class="label_name">权限：</label><input id="right" class="edit_input" placeholder="0:不显示，1:显示" /><br />
        <label class="label_name">概要：</label><textarea class="edit_textarea" id="brief" placeholder="简要概述"></textarea>
        <button id="getContent">提交</button>
    </div>
    <div id="test-editormd">
        <textarea style="display:none;">
            [TOC]

            #### Disabled options

            - TeX (Based on KaTeX);
            - Emoji;
            - Task lists;
            - HTML tags decode;
            - Flowchart and Sequence Diagram;

            #### Editor.md directory

                editor.md/
                        lib/
                        css/
                        scss/
                        tests/
                        fonts/
                        images/
                        plugins/
                        examples/
                        languages/     
                        editormd.js
                        ...

            ```html
            &lt;!-- English --&gt;
            &lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

            &lt;!-- 繁體中文 --&gt;
            &lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
            ```
        </textarea>
    </div>
</div>
<script type="text/javascript" src="/javascripts/jquery-1.12.0.min.js"> </script>
<script type="text/javascript" src="/editormd/js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "/editormd/lib/",
            // watch: true,
            saveHTMLToTextarea: true,

            imageUpload:true,
            imageFormats:["jpg","jpeg","git","png","bmp","webp"],
            imageUploadURL:"/face/info"
        });

        $('#getContent').click(function(){
            // console.log(testEditor.getMarkdown());
            // console.log(testEditor.getHTML());
            // console.log(testEditor.getPreviewedHTML());
            var title = $('#title').val();
            var writer = $('#writer').val();
            var brief = $('#brief').val();
            var classification = $('#classification').val();
            var right = $('#right').val();
            $.post('/addArticle',{
                title:title,
                writer:writer,
                article:testEditor.getMarkdown(),
                brief:brief,
                classification:classification,
                right:right
            },function(res){
                console.log(res)
            });
        })
    });
</script>
</body>
</html>