<!-- GrowingIO Analytics code version 2.1 -->
<!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->
<script type='text/javascript'>
!function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
  gio('init','8ccf9443d38f1ead', {});

//custom page code begin here

//custom page code end here

gio('send');

</script>
<!-- End GrowingIO Analytics code version: 2.1 -->
<script>
   console.log("          :                                              :         \n        ;@##                                           '@'@;       \n      .@'  .@;                                       .@+   ;@`     \n     @+      ;@`                                    @#       #@    \n   #@          ##                                 +@`         `@'  \n '@`             @+                             '@`             ;@.\n @@#              :@,                         ,@:               +@@\n # '@:              +@                       @'               .@@'@\n @, @+@`             `@'                   ##                @@;;:@\n # ; @`##              .@`               '@`               +@@.`#+@\n @. + @ +@:              '@`           :@,               :@#,,'':'@\n #`, ; :  +@.              #@        .@;               .@'+# `@# ,@\n @  . ,``` `@+              `@+    `@+               `@@##,:+',,';@\n`#`  `,`: .` +@;              +@: #@`               #@,:#+.,@+`,@'@\n`@   . # ' .: @'@`              @@`               +@+.## .#'.,+;:;@\n #@.` + # ; `; @ @@                             ,@@'::+'.,#' :@+#@:\n   #@; @ @ :. ; ; :@+                         `@@# `@+`:@+.,#';@.  \n    .@+ # ' `` ,.`. ;@:                      #@;;;::+',;++.:#@;    \n      '@`' .   . : ,  @@`                  '@;@#`,@# .@+ ;@@+      \n        #@,`  ` ' + ,. @@                 @@''::;;;;:;+;,@#`       \n         `@'.  ; @ # ,@@                  '@@# .@' :@+`@@`         \n           ;@+` # @ #@.                     #@#;;;;;''@:           \n             +@; @:@.                        .@@ ,@;@#             \n              `@#@;                            ;@##@`              \n               ##               ,#.              '@                \n             +@`              `@@@#@`              @'              \n           ,@.               #@@:@;.@+              :@.            \n         .@:               ;@@ .@@ # @@,              +@`          \n        #+               .@@::';+@; # ##@               @+         \n      +#                ##@+ :@+`@ ; + :`@+              `@:       \n    :@.               +@++::+':;'@. : , ``:@,              ;@`     \n  .@'               ;@;;##`,@' ,@@ `.. `    @@.              #+    \n @#               ,@#.@+.,#':;'':@ , : `  ` , @#              .@;  \n+@+             `@@+::#'.:#'`;@+;@: + ; `` ; ' .@;              '@`\n' @@.          @@+`,@'.:##.:+;;@#,@@ # :  : # + .'@.            +@@\n+, .+@`      #@''',:#'.:@; :@@+    '@.@ .. # @ ' `:#@`        ,@'@+\n' `, :@#   +@'@# ,@'`,@'.;+#@`       @@'  : @ # .  +`@+     .@@+''@\n+ , + ':@+@@;;'':;+;.:#'`#@,          `@#` + # ' `: # @@' .@@,.++.'\n#. + @ '`@`,@'`:@' ;@'.+@'              ,@: ' ' `  : + ;@@@.,@#.:+;\n#`: @ @ :@'';;;;';,'+;@#                  '@ : .  ` , , `#':;#+`,@;\n#` ' @ ; #@+ :@+ :@;+@`                    `@@.`   `.`.` #,@'`'+;'+\n#,. ; ' .@,;';;;:'+@.                        ,@:`  , ; , #+;;,;#',;\n## . ,`.:@`:@; '@@:                            '@., + + ,@' ;@:`'#'\n `@; ``::##',;@@+                                @#+ @ ; #'';+:.@@`\n   ;@.' ##@' @#                                   `@@ @ :@+@:`@@.  \n     #@@:@:@@`                                      ;@.;`#;:@@:    \n      .@@@@:                                          @@:@,@+      \n        @@                                             `@@@        \n");
   //window.location.href = /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ? "http://localhost:3000/" :  "http://localhost:3000/";
   var dongContents = function(){
   		console.log('一人一句故事  www.why-dong.com/mobile?id=2');
   		console.log('言语录入  www.why-dong.com/oneBriefEdit');
   		console.log('添加文章  www.why-dong.com/admin/add');
   		console.log('编辑文章  www.why-dong.com/admin/list');
   }
</script>
<header>
	<a class="header_a" href="/">
		<h3>村农</h3><p>莫笑农家腊酒浑，丰年留客足鸡豚。</p>
	</a>
	<ul class="header_ul">
		<li><a href="/skill">技术</a></li><li><a href="/poemAndInk">诗墨</a></li><li><a href="/oneBrief">言语</a></li>
	</ul>
</header>
<hr style="margin-top:0px;" />