<header>
	<h3>村农</h3>
	<p>莫笑农家腊酒浑，丰年留客足鸡豚。</p>
	<ul class="header_ul">
		<li><a href="skill">技术</a></li>
		<li><a href="poemAndInk">诗墨</a></li>
		<li><a href="oneBrief">一言</a></li>
	</ul>
</header>
<hr style="margin-top:0px;" />