<!DOCTYPE html>
<!-- <html manifest="index.manifest"> -->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>村农</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<link type="text/css" rel="styleSheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="content_box">
		<%- include("./header.ejs") %>

		<ul class="index_ul">
			<% for(var i in doc){ %>
				<li class="page_list">
					<a href="/page?id=<%= doc[i]._id %>">
						<p class="title">-  <%= doc[i].title %>
							<time><%= doc[i].time_string %></time>
						</p>
					</a>
				</li>
			<% } %>
		</ul>
	</div>

	<div class="chat_box">
		<div class="message_box"></div>
		<input class="message_send" />
		<button class="message_submit">发送</button>
		<div style="padding:10px;">
			<h4 id="beauty">你的颜值：</h4>
			<input name="pic" type="file" id="imgFile" />
		</div>
	</div> 
</body>
<script src="/javascripts/jquery-1.12.0.min.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script type="text/javascript">
	$('#imgFile').on('change',function(){
		var formData = new FormData();
		var file = $(this)[0].files[0];
		formData.append('pic',file);
		$.ajax({
			type:'POST',
			url:'/face/info',
			data:formData,
			processData:false,
			contentType:false,
			success:function(res){
				res = JSON.parse(res);
				console.log(res);
				$('#beauty').text("你的颜值："+res.data.face_list[0].beauty);
			}
		})
	})
	 //var socket = io.connect('http://localhost:3000');
	var socket = io();
	socket.on('getMsg',function(data){
		console.log(data);
		var msg_dom = $("<p>"+data.msg+"</p>")
		$('.message_box').append(msg_dom);
	});
	$('.message_submit').click(function(){
		socket.emit('sendData',{msg:$('.message_send').val()});
		$('.message_send').val('');
	});
	$(document).keyup(function(event){
		if(event.keyCode == 13){
			$('.message_submit').trigger("click");
		}
	});
// pwa
	// if(navigator.serviceWorker != null){
	// 	var sw = navigator.serviceWorker;
	// 	navigator.serviceWorker.register('/sw.js',{scope:"/"}).then(function(registration){
	// 		window.registration = registration;
	// 	});

	// 	if(sw.controller){
	// 		sw.controller.postMessage('SW!!!');

	// 		sw.addEventListener('message',event => {
	// 			console.log(event.data);
	// 		});
	// 	}
	// }
</script>
</html>