<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>村农</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" rel="styleSheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/editormd/css/style.css" />
<link rel="stylesheet" href="/editormd/css/editormd.preview.css" />
<style>
	.editormd-html-preview {
	    margin: 0 auto;
	}
</style>
</head>
<body>
	<div class="content_box">
		<%- include("./header.ejs") %>
		<div class="page">
			<h3><%= doc[0].title %></h3>
			<h5><%= doc[0].writer %></h5>
		
			<div id="test-editormd-view2">
                <textarea id="append-test" style="display:none;">
					<%- doc[0].article %>
				</textarea>
			</div>
		</div>
	</div>
</body>
<script src="/javascripts/jquery-1.12.0.min.js"></script>
<script src="/editormd/lib/marked.min.js"></script>
<script src="/editormd/lib/prettify.min.js"></script>
<script src="/editormd/lib/raphael.min.js"></script>
<script src="/editormd/lib/underscore.min.js"></script>
<script src="/editormd/lib/sequence-diagram.min.js"></script>
<script src="/editormd/lib/flowchart.min.js"></script>
<script src="/editormd/lib/jquery.flowchart.min.js"></script>

<script src="/editormd/js/editormd.min.js"></script>

<script type="text/javascript">
    $(function() {
        var testEditormdView, testEditormdView2;
      //   var markdown = $('#test-editormd-view').text();
      //   (function(markdown) {
		    // testEditormdView = editormd.markdownToHTML("test-editormd-view", {
      //           markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
      //           //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
      //           htmlDecode      : "style,script,iframe",  // you can filter tags decode
      //           //toc             : false,
      //           tocm            : true,    // Using [TOCM]
      //           //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
      //           //gfm             : false,
      //           //tocDropdown     : true,
      //           // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
      //           emoji           : true,
      //           taskList        : true,
      //           tex             : true,  // 默认不解析
      //           flowChart       : true,  // 默认不解析
      //           sequenceDiagram : true,  // 默认不解析
      //       });
            
      //       //console.log("返回一个 jQuery 实例 =>", testEditormdView);
            
      //       // 获取Markdown源码
      //       //console.log(testEditormdView.getMarkdown());
            
      //       //alert(testEditormdView.getMarkdown());
      //   });
            
        testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });
    });
</script>
</html>